.ethereum {
  padding: 100px 0 40px 0;
  background-color: #F4F5FA;
  background-image: url("../../Images/bg-img.png");
  background-repeat: no-repeat;
  background-size: 206px 64px;
  background-position: 990px 660px ;
}

.ethereum-inner {
  display: flex;
  align-items: center;
}

.ethereum-content {
  width: 690px;
}

.ethereum-about {
  font-family: 'Lato';
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #0E133A;
}

.ethereum-span {
  color: blue;
}

.ethereum-heading {
  font-family: 'Lato';
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #0E133A;
}

.ethereum-text {
  font-family: 'Lato';
  margin: 0;
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5B5D6D;
}

.ethereum-getBtn {
  font-family: 'Lato';
  padding: 16px 56px;
  margin-right: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #1F33D8;
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.ethereum-getBtn:hover {
  background-color: #5c69d9;
}

.ethereum-getBtn:active {
  background-color: rgba(31, 51, 216, 0.15);
  color: #0E133A;
}

.ethereum-aboutBtn {
  font-family: 'Lato';
  padding: 16px 56px;
  margin-right: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0E133A;
  background-color: rgba(31, 51, 216, 0.15);
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.ethereum-aboutBtn:hover {
  background-color: rgb(170, 175, 217);
}

.ethereum-aboutBtn:active {
  background-color:#1F33D8;
  color: #FFFFFF;
}

.ethereum-img {
  width: 377px;
  height: 377px;
  margin-left: 71px;
}

.quantity-list {
  display: flex;
  padding: 0;
  margin: 56px 0 0 0;
  list-style-type: none;
}

.quantity-item {
  margin-right: 68px;
}

.quantity-span {
  display: block;
  font-family: 'Lato';
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}